<header class="limited-width">
    <div class="container-logo">
        <img src="/assets/logo-icone.png" alt="">
        <h1>AlfaTech</h1>
        <p>Soluções em Hospedagem</p>
    </div>
    <nav>
        <ul>
            <li><a href="">INFORMAÇÕES</a></li>
            <li><a href="">PLANOS</a></li>
            <li><a href="">PREÇOS</a></li>
            <li><a href="">CONTATO</a></li>
        </ul>
    </nav>
</header>